* {
    margin: 0;
    padding: 0;
}
h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
ul,
li {
    list-style: none;
    margin: 0;
}

input[type="text"],
input[type="date"],
input[type="url"] {
    height: 24px;
}

header {
    background-color: black;
    margin-bottom:  20px;
}

header a {
    color: #fff;
}

.navbar-nav {
    display: inline-block;
    margin: 0;
}

.navbar-nav li {
    display: inline-block;
    margin: 0 10px;
}
.navbar-nav li a {
    display: block;
    line-height:  50px;
    padding: 0 15px;
}
#loginBoxBtn {
    float: right;
    line-height: 50px;
}

#loginBoxBtn a {
    text-decoration: none;
}

aside {
    width: 240px;
    float: right;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#wrapper {
    overflow: hidden;
}

.content {
    width: 480px;
    margin: 0 auto;
    float: left;
}

.dischiList li {
    margin-bottom: 10px;
}
.commentiList li {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.commentiList li div {
    font-size:  11px;
    text-align:  right;
}
.load-more {
    margin: 25px auto;
    display:  inline-block; 
}